@import "tailwindcss";

@theme {
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;

  /* Görseldeki o derin e-spor siyahı ve şık aksan renkleri */
  --color-gaming-black: #08080a;
  --color-gaming-card: #111116;
  --color-gaming-accent: #6366f1;
}

/* Tüm sitede 'Outfit' fontunu, başlıklarda ise keskin 'Space Grotesk' havasını kullanacağız */
body {
  font-family: "Outfit", sans-serif;
  @apply bg-[#08080a] text-zinc-100 antialiased selection:bg-white selection:text-black;
}

/* Görseldeki gibi başlıkların o keskin, e-spor dergisi havasında durması için özel sınıf */
.font-gaming {
  font-family: "Space Grotesk", sans-serif;
}
